body {
  font-family: "Inter", sans-serif;
}
.highlight {
  background-color: #dcfce7; /* Green-100 */
  font-weight: 600;
}
.highlight td {
  color: #166534; /* Green-800 */
}
pre {
  padding: 1em;
  margin: 1em 0em;
  border: 1px solid #ccc;
}
.headroom {
  padding-top: 2em;
}
a, .blue {
  color: #2563eb; /* Tailwind's indigo-600 */
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}
a:hover {
  color: #2563eb; /* Tailwind's indigo-800 */
  text-decoration: underline;
}