body {
  font-family: "Inter", sans-serif;
}
.highlight {
  background-color: #dcfce7; /* Green-100 */
  font-weight: 600;
}
.highlight td {
  color: #166534; /* Green-800 */
}
pre {
  padding-top: 0.1em;
}
.headroom {
  padding-top: 2em; 
}
